body {
  background-color: #d8e9f3;
}

.button {
  background-color: #4390bc;
  border: none;
  color: white;
  padding: 6px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 28px 0px 0px;
  cursor: pointer;
}

#myBar {
  background-color: #4390bc;
}

#calculating {
  margin-bottom: 0px;
  font-size: 28px;
}

.upload_btn { 
  background-color: #4390bc;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 12px;
  width: 100px; 
  height: 100px;
  border-radius: 50%;
}

.white_box {
  background-color: white;
  width: 500px;
  height: 300px;
  padding: 20px;
  margin: 100px auto;
}

#title { 
  font-family: 'Brush Script MT', cursive;
  font-size: 48px;
  margin-top: 24px;
  margin-left: -12px;
}

#upload_title { 
  font-family: 'Verdana';
  margin-top: 20px;
}

#border_highlight { 
  background-color: #4663ac;
  width: 100%;
  height: 24px;
  margin-left: 0px;
  margin-top: 24px;
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

#likely_scale {
  padding-top: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

#likeliness-result {
  text-align: center;
}

.media-preview {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
}

#buttons-container {
  text-align: center;
  margin-top: 20px;
  .button {
    width: 150px;
    margin: 4px;
  }
}

#cancel { 
  visibility: hidden;
}

#confirm { 
  visibility: hidden;
}

#image { 
  visibility: hidden;
}